@charset "UTF-8";


.faint {
    transform: scaleX(-1)  translate(0%, -100%);
    opacity: 5%;
}
.faint-scale {
    transform:  scaleX(-0.56) scaleY(0.56) translate(0%, -100%) ;
    opacity: 5%;
}
.faint-scale-port {
    transform: translate(0%, -80%) scaleX(-0.56) scaleY(0.56);
    opacity: 5%;
}
.mirrored {
    transform: scaleX(-1) ;
}